# House prices

## Step 1: preparing data 

### 1.1 Removing N/A

In [1]:
import numpy as np
import pandas as pd

In [2]:
train_og = pd.read_csv('data/train.csv')
test_og = pd.read_csv('data/test.csv')
x_train_raw = train_og.iloc[:,:-1]
y_train = train_og.iloc[:,-1]

Functions for joining and dividing back the data:

In [3]:
def concat_df(train_data,test_data):
    return pd.concat([train_data,test_data]).reset_index(drop=True)

def divide_df(all_data):
    return all_data.iloc[:1460], all_data.iloc[1460:]

In [4]:
all_data = concat_df(x_train_raw,test_og)
all_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,2,2008,WD,Normal
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,5,2007,WD,Normal
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2008,WD,Normal
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,12,2008,WD,Normal

In [5]:
taken_col = set(['ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond',
       'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2',
       'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating', 'HeatingQC',
       'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF',
       'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual', 'MasVnrType', 'MiscFeature', 'MiscVal', 'MoSold',
        'Neighborhood', 'OpenPorchSF', 'OverallCond', 'OverallQual',
       'PavedDrive', 'PoolArea', 'PoolQC', 'RoofMatl', 'RoofStyle',
        'SaleCondition', 'SalePrice', 'SaleType', 'ScreenPorch', 'Street',
        'TotRmsAbvGrd', 'TotalBsmtSF', 'Utilities', 'WoodDeckSF', 'YearBuilt',
        'YearRemodAdd', 'YrSold'])
all_col = set(all_data.columns)
my_col = list(all_col - taken_col)

In [76]:
all_data[my_col].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2919 entries, 0 to 2918
Data columns (total 30 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Fireplaces     2919 non-null   int64
 1   Exterior2nd    2918 non-null   object
 2   FireplaceQu    1499 non-null   object
 3   BldgType       2919 non-null   object
 4   MasVnrArea     2896 non-null   float64
 5   GarageQual     2760 non-null   object
 6   EnclosedPorch  2919 non-null   int64
 7   LotFrontage    2433 non-null   float64
 8   GarageFinish   2760 non-null   object
 9   LotShape       2919 non-null   object
 10  Condition1     2919 non-null   object
 11  GarageYrBlt    2760 non-null   float64
 12  LandContour    2919 non-null   object
 13  GarageCond     2760 non-null   object
 14  Fence          571 non-null    object
 15  3SsnPorch      2919 non-null   int64
 16  Exterior1st    2918 non-null   object
 17  LotConfig      2919 non-null   object
 18  Condition2     2919 non-null   object
 19  LandSlope      2919 non-null   object
 20  GarageCars     2918 non-null   float64
 21  Id             2919 non-null   int64
 22  LotArea        2919 non-null   int64
 23  Alley          198 non-null    object
 24  GarageType     2762 non-null   object
 25  MSSubClass     2919 non-null   int64
 26  GarageArea     2918 non-null   float64
 27  MSZoning       2915 non-null   object
 28  Functional     2917 non-null   object
 29  HouseStyle     2919 non-null   object
dtypes: float64(5), int64(6), object(19)
memory usage: 684.3+ KB

In [6]:
all_data[my_col].isnull().sum()

GarageYrBlt       159
Exterior2nd         1
GarageArea          1
Condition2          0
MSZoning            4
Fence            2348
GarageCond        159
LotConfig           0
LandContour         0
Exterior1st         1
LotShape            0
LandSlope           0
Id                  0
LotArea             0
Fireplaces          0
Functional          2
GarageCars          1
Condition1          0
3SsnPorch           0
MasVnrArea         23
MSSubClass          0
GarageQual        159
FireplaceQu      1420
LotFrontage       486
GarageFinish      159
BldgType            0
EnclosedPorch       0
GarageType        157
Alley            2721
HouseStyle          0
dtype: int64

**Exterior1st**

primary material

In [91]:
all_data['Exterior1st'].value_counts()

Exterior1st
VinylSd    1025
MetalSd     450
HdBoard     442
Wd Sdng     411
Plywood     221
CemntBd     126
BrkFace      87
WdShing      56
AsbShng      44
Stucco       43
BrkComm       6
AsphShn       2
Stone         2
CBlock        2
ImStucc       1
Name: count, dtype: int64

In [113]:
all_data['Exterior1st'] = all_data['Exterior1st'].fillna(all_data['Exterior1st'].mode()[0])

**Exterior2nd**

secondary cover material

In [77]:
all_data['Exterior2nd'].value_counts()

Exterior2nd
VinylSd    1014
MetalSd     447
HdBoard     406
Wd Sdng     391
Plywood     270
CmentBd     126
Wd Shng      81
BrkFace      47
Stucco       47
AsbShng      38
Brk Cmn      22
ImStucc      15
Stone         6
AsphShn       4
CBlock        3
Other         1
Name: count, dtype: int64

In [78]:
all_data['Exterior2nd'] = all_data['Exterior2nd'].fillna('Other')

**FireplaceQu**

NA if no fireplace

In [79]:
all_data['FireplaceQu'].value_counts()

FireplaceQu
Gd    744
TA    592
Fa     74
Po     46
Ex     43
Name: count, dtype: int64

In [80]:
all_data['FireplaceQu'] = all_data['FireplaceQu'].fillna('No')

**MasVnrArea**

only if MasVnrType is not nan

In [81]:
all_data['MasVnrType'] = all_data['MasVnrType'].fillna(0)

In [82]:
all_data['MasVnrArea'].value_counts()

MasVnrArea
0.0      1738
120.0      15
176.0      13
200.0      13
216.0      12
         ...
137.0       1
274.0       1
415.0       1
760.0       1
382.0       1
Name: count, Length: 444, dtype: int64

In [83]:
def masvnr_filler(masvnr): 
    if masvnr == 0: 
        return 0
    else: 
        return all_data['MasVnrArea'].mean()
    
all_data['MasVnrArea'][all_data['MasVnrArea'].isna()] = all_data['MasVnrType'][all_data['MasVnrArea'].isna()].apply(masvnr_filler)

/tmp/ipykernel_6751/3272868284.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_data['MasVnrArea'][all_data['MasVnrArea'].isna()] = all_data['MasVnrType'][all_data['MasVnrArea'].isna()].apply(masvnr_filler)

In [85]:
all_data['MasVnrArea'].value_counts()

MasVnrArea
0.0      1761
120.0      15
176.0      13
200.0      13
216.0      12
         ...
137.0       1
274.0       1
415.0       1
760.0       1
382.0       1
Name: count, Length: 444, dtype: int64

**Garage**

GarageType, GarageYrBlt, GarageFinish, GarageCars, GarageArea, GarageQual, GarageCond, GarageFinish

NA if no garage

In [88]:
all_data['GarageArea'].describe()

count    2918.000000
mean      472.874572
std       215.394815
min         0.000000
25%       320.000000
50%       480.000000
75%       576.000000
max      1488.000000
Name: GarageArea, dtype: float64

In [94]:
all_data['GarageType']  = all_data['GarageType'].fillna('No')
all_data['GarageYrBlt']  = all_data['GarageYrBlt'].fillna(all_data['GarageYrBlt'].mean()) # есть явные выбросы!!! 
all_data['GarageYrBlt']  = all_data['GarageYrBlt'].fillna('No')
def garage_filler(gar): 
    if gar == 'No': 
        return 0
    else: 
        return all_data['GarageCars'].mode()
all_data['GarageCars'][all_data['GarageCars'].isna()] = all_data['GarageType'][all_data['GarageCars'].isna()].apply(garage_filler)
def garage_filler2(gar): 
    if gar == 'No': 
        return 0
    else: 
        return all_data['GarageArea'].mean()
all_data['GarageArea'][all_data['GarageArea'].isna()] = all_data['GarageType'][all_data['GarageArea'].isna()].apply(garage_filler2)
all_data['GarageQual']  = all_data['GarageQual'].fillna('No')
all_data['GarageCond']  = all_data['GarageCond'].fillna('No')
all_data['GarageFinish']  = all_data['GarageFinish'].fillna('No')

/tmp/ipykernel_6751/3938196724.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_data['GarageCars'][all_data['GarageCars'].isna()] = all_data['GarageType'][all_data['GarageCars'].isna()].apply(garage_filler)
/tmp/ipykernel_6751/3938196724.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_data['GarageArea'][all_data['GarageArea'].isna()] = all_data['GarageType'][all_data['GarageArea'].isna()].apply(garage_filler2)

**LotFrontage**

Linear feet of street connected to property

In [99]:
all_data['LotFrontage'].mean()

21.0

In [100]:
all_data['LotFrontage'] = all_data['LotFrontage'].fillna(all_data['LotFrontage'].mean())

**Fence**

na if no fence

In [116]:
all_data['Fence']  = all_data['Fence'].fillna('No')

**Alley**

na if no alley access

In [118]:
all_data['Alley']  = all_data['Alley'].fillna('No')

**MSZoning**

In [121]:
all_data['MSZoning'].value_counts()

MSZoning
RL         2265
RM          460
FV          139
RH           26
C (all)      25
Name: count, dtype: int64

In [122]:
all_data['MSZoning'] = all_data['MSZoning'].fillna(all_data['MSZoning'].mode()[0])

**Functional**

"assume typical"

In [123]:
all_data['Functional'].value_counts()

Functional
Typ     2717
Min2      70
Min1      65
Mod       35
Maj1      19
Maj2       9
Sev        2
Name: count, dtype: int64

In [124]:
all_data['Functional'] = all_data['Functional'].fillna(all_data['Functional'].mode()[0])

------------------------------

checking results of my part:

In [125]:
all_data[my_col].isnull().sum()

Fireplaces       0
Exterior2nd      0
FireplaceQu      0
BldgType         0
MasVnrArea       0
GarageQual       0
EnclosedPorch    0
LotFrontage      0
GarageFinish     0
LotShape         0
Condition1       0
GarageYrBlt      0
LandContour      0
GarageCond       0
Fence            0
3SsnPorch        0
Exterior1st      0
LotConfig        0
Condition2       0
LandSlope        0
GarageCars       0
Id               0
LotArea          0
Alley            0
GarageType       0
MSSubClass       0
GarageArea       0
MSZoning         0
Functional       0
HouseStyle       0
dtype: int64

In [127]:
all_data[my_col].to_csv('data/df_alex.csv')

### 1.2 joining parts

In [7]:
alex_df = pd.read_csv('data/df_alex.csv')
sveta_df = pd.read_csv('data/df_Sveta.csv')
roman_df = pd.read_csv('data/all_data_roman.csv')

In [14]:
joined_all = pd.concat([alex_df,sveta_df,roman_df],axis=1)

In [15]:
joined_all.isnull().sum().sort_values(ascending=False)

MiscFeature     2814
MasVnrType      1766
SalePrice       1459
BsmtExposure      82
BsmtCond          82
                ...
Alley              0
LotArea            0
Id                 0
GarageCars         0
KitchenQual        0
Length: 77, dtype: int64

While joining data, some values somehow changed back to NA. We checked and all of them were filled by "No", since the description stated that NA means the feature is not present. Thus, we remove the NA in a similar manner

In [20]:
joined_all.columns

Index(['Fireplaces', 'Exterior2nd', 'FireplaceQu', 'BldgType', 'MasVnrArea',
       'GarageQual', 'EnclosedPorch', 'LotFrontage', 'GarageFinish',
       'LotShape', 'Condition1', 'GarageYrBlt', 'LandContour', 'GarageCond',
       'Fence', '3SsnPorch', 'Exterior1st', 'LotConfig', 'Condition2',
       'LandSlope', 'GarageCars', 'Id', 'LotArea', 'Alley', 'GarageType',
       'MSSubClass', 'GarageArea', 'MSZoning', 'Functional', 'HouseStyle',
       'MasVnrType', 'MiscFeature', 'MiscVal', 'MoSold', 'Neighborhood',
       'OverallCond', 'OverallQual', 'PavedDrive', 'RoofMatl', 'SaleCondition',
       'SaleType', 'Street', 'TotRmsAbvGrd', 'TotalBsmtSF', 'WoodDeckSF',
       'YearBuilt', 'YrSold', 'ExterQual', 'ExterCond', 'Foundation',
       'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual'],
      dtype='object')

In [18]:
joined_all.drop(['SalePrice','Unnamed: 0'],inplace=True, axis=1)

In [32]:
joined_all.drop('Id',inplace=True, axis=1)

In [50]:
joined_all.BsmtFinType1 = joined_all.BsmtFinType1.fillna('No')
joined_all.BsmtFinType2 = joined_all.BsmtFinType2.fillna('No')
joined_all = joined_all.fillna('no')
joined_all = joined_all.loc[:,~joined_all.columns.duplicated()].copy()

In [51]:
joined_train, joined_test = divide_df(joined_all)

---------------

### 1.3 Removing outliers

In [52]:
mask_numeric = (joined_train.dtypes != object)
joined_train.loc[:,mask_numeric]

,Fireplaces,MasVnrArea,EnclosedPorch,LotFrontage,GarageYrBlt,3SsnPorch,GarageCars,LotArea,MSSubClass,GarageArea,...,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr
0,0,196.0,0,65.0,2003.0,0,2.0,8450,60,548.0,...,856,854,0,1710,1,0,2,1,3,1
1,1,0.0,0,80.0,1976.0,0,2.0,9600,20,460.0,...,1262,0,0,1262,0,1,2,0,3,1
2,1,162.0,0,68.0,2001.0,0,2.0,11250,60,608.0,...,920,866,0,1786,1,0,2,1,3,1
3,1,0.0,272,60.0,1998.0,0,3.0,9550,70,642.0,...,961,756,0,1717,1,0,1,0,3,1
4,1,350.0,0,84.0,2000.0,0,3.0,14260,60,836.0,...,1145,1053,0,2198,1,0,2,1,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1,0.0,0,62.0,1999.0,0,2.0,7917,60,460.0,...,953,694,0,1647,0,0,2,1,3,1
1456,2,119.0,0,85.0,1978.0,0,2.0,13175,20,500.0,...,2073,0,0,2073,1,0,2,0,3,1
1457,2,0.0,0,66.0,1941.0,0,1.0,9042,70,252.0,...,1188,1152,0,2340,0,0,2,0,4,1
1458,0,0.0,112,68.0,1950.0,0,1.0,9717,20,240.0,...,1078,0,0,1078,1,0,1,0,2,1
1459,0,0.0,0,75.0,1965.0,0,1.0,9937,20,276.0,...,1256,0,0,1256,1,0,1,1,3,1

In [53]:
upper = (joined_train.loc[:,mask_numeric] >= joined_train.loc[:,mask_numeric].quantile(0.01))
lower = (joined_train.loc[:,mask_numeric] <= joined_train.loc[:,mask_numeric].quantile(0.99))
joined_train.loc[:,mask_numeric][upper & lower]

,Fireplaces,MasVnrArea,EnclosedPorch,LotFrontage,GarageYrBlt,3SsnPorch,GarageCars,LotArea,MSSubClass,GarageArea,...,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr
0,0.0,196.0,0.0,65.0,2003.0,0.0,2.0,8450.0,60,548.0,...,856.0,854.0,0.0,1710.0,1.0,0.0,2.0,1.0,3.0,1.0
1,1.0,0.0,0.0,80.0,1976.0,0.0,2.0,9600.0,20,460.0,...,1262.0,0.0,0.0,1262.0,0.0,1.0,2.0,0.0,3.0,1.0
2,1.0,162.0,0.0,68.0,2001.0,0.0,2.0,11250.0,60,608.0,...,920.0,866.0,0.0,1786.0,1.0,0.0,2.0,1.0,3.0,1.0
3,1.0,0.0,NaN,60.0,1998.0,0.0,3.0,9550.0,70,642.0,...,961.0,756.0,0.0,1717.0,1.0,0.0,1.0,0.0,3.0,1.0
4,1.0,350.0,0.0,84.0,2000.0,0.0,3.0,14260.0,60,836.0,...,1145.0,1053.0,0.0,2198.0,1.0,0.0,2.0,1.0,4.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1.0,0.0,0.0,62.0,1999.0,0.0,2.0,7917.0,60,460.0,...,953.0,694.0,0.0,1647.0,0.0,0.0,2.0,1.0,3.0,1.0
1456,2.0,119.0,0.0,85.0,1978.0,0.0,2.0,13175.0,20,500.0,...,2073.0,0.0,0.0,2073.0,1.0,0.0,2.0,0.0,3.0,1.0
1457,2.0,0.0,0.0,66.0,1941.0,0.0,1.0,9042.0,70,252.0,...,1188.0,1152.0,0.0,2340.0,0.0,0.0,2.0,0.0,4.0,1.0
1458,0.0,0.0,112.0,68.0,1950.0,0.0,1.0,9717.0,20,240.0,...,1078.0,0.0,0.0,1078.0,1.0,0.0,1.0,0.0,2.0,1.0
1459,0.0,0.0,0.0,75.0,1965.0,0.0,1.0,9937.0,20,276.0,...,1256.0,0.0,0.0,1256.0,1.0,0.0,1.0,1.0,3.0,1.0

In [57]:
idxs_to_remove = []
for col in joined_train.loc[:,mask_numeric]:
    mask = (joined_train[col] > joined_train[col].quantile(0.99)) | (joined_train[col] < joined_train[col].quantile(0.01))
    idx_to_remove = joined_train[col][mask].index
    idxs_to_remove.extend(idx_to_remove)
idxs_to_remove = set(idxs_to_remove)
idxs_to_remove

{3,
 5,
 29,
 48,
 53,
 55,
 58,
 64,
 70,
 74,
 75,
 88,
 93,
 106,
 113,
 115,
 118,
 129,
 137,
 144,
 153,
 166,
 169,
 170,
 171,
 178,
 182,
 185,
 187,
 188,
 189,
 197,
 198,
 205,
 224,
 227,
 231,
 232,
 235,
 237,
 246,
 249,
 250,
 251,
 258,
 263,
 267,
 270,
 271,
 277,
 278,
 280,
 291,
 297,
 298,
 304,
 309,
 313,
 317,
 322,
 326,
 328,
 330,
 332,
 335,
 346,
 349,
 350,
 357,
 358,
 362,
 363,
 375,
 378,
 384,
 392,
 398,
 402,
 406,
 420,
 430,
 434,
 439,
 440,
 451,
 454,
 456,
 457,
 470,
 477,
 480,
 482,
 489,
 496,
 510,
 517,
 523,
 528,
 529,
 533,
 539,
 542,
 570,
 581,
 583,
 597,
 605,
 608,
 614,
 624,
 628,
 630,
 634,
 635,
 636,
 642,
 649,
 653,
 654,
 661,
 664,
 676,
 678,
 691,
 696,
 705,
 706,
 716,
 726,
 735,
 738,
 740,
 745,
 747,
 755,
 764,
 767,
 768,
 769,
 774,
 786,
 798,
 799,
 803,
 807,
 808,
 809,
 813,
 819,
 825,
 837,
 843,
 848,
 854,
 875,
 883,
 888,
 890,
 893,
 897,
 898,
 909,
 910,
 916,
 921,
 923,
 924,
 932,
 934,
 939,
 945,
 954,
 956,
 961,
 963,
 974,
 981,
 987,
 991,
 1001,
 1009,
 1024,
 1031,
 1038,
 1039,
 1044,
 1061,
 1068,
 1080,
 1087,
 1100,
 1107,
 1127,
 1132,
 1137,
 1142,
 1152,
 1154,
 1161,
 1163,
 1169,
 1171,
 1173,
 1182,
 1190,
 1197,
 1205,
 1210,
 1211,
 1212,
 1213,
 1228,
 1230,
 1235,
 1253,
 1266,
 1267,
 1268,
 1270,
 1283,
 1292,
 1298,
 1299,
 1313,
 1326,
 1328,
 1337,
 1340,
 1346,
 1349,
 1350,
 1353,
 1360,
 1369,
 1373,
 1378,
 1386,
 1387,
 1396,
 1416,
 1417,
 1418,
 1423,
 1437,
 1440,
 1443,
 1449,
 1450,
 1457,
 1458,
 1459}

In [58]:
cleaned_train = joined_train.drop(idxs_to_remove,axis=0)
cleaned_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1209 entries, 0 to 1456
Data columns (total 72 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Fireplaces     1209 non-null   int64
 1   Exterior2nd    1209 non-null   object
 2   FireplaceQu    1209 non-null   object
 3   BldgType       1209 non-null   object
 4   MasVnrArea     1209 non-null   float64
 5   GarageQual     1209 non-null   object
 6   EnclosedPorch  1209 non-null   int64
 7   LotFrontage    1209 non-null   float64
 8   GarageFinish   1209 non-null   object
 9   LotShape       1209 non-null   object
 10  Condition1     1209 non-null   object
 11  GarageYrBlt    1209 non-null   float64
 12  LandContour    1209 non-null   object
 13  GarageCond     1209 non-null   object
 14  Fence          1209 non-null   object
 15  3SsnPorch      1209 non-null   int64
 16  Exterior1st    1209 non-null   object
 17  LotConfig      1209 non-null   object
 18  Condition2     1209 non-null   object
 19  LandSlope      1209 non-null   object
 20  GarageCars     1209 non-null   float64
 21  LotArea        1209 non-null   int64
 22  Alley          1209 non-null   object
 23  GarageType     1209 non-null   object
 24  MSSubClass     1209 non-null   int64
 25  GarageArea     1209 non-null   float64
 26  MSZoning       1209 non-null   object
 27  Functional     1209 non-null   object
 28  HouseStyle     1209 non-null   object
 29  MasVnrType     1209 non-null   object
 30  MiscFeature    1209 non-null   object
 31  MiscVal        1209 non-null   int64
 32  MoSold         1209 non-null   int64
 33  Neighborhood   1209 non-null   object
 34  OverallCond    1209 non-null   int64
 35  OverallQual    1209 non-null   int64
 36  PavedDrive     1209 non-null   object
 37  RoofMatl       1209 non-null   object
 38  SaleCondition  1209 non-null   object
 39  SaleType       1209 non-null   object
 40  Street         1209 non-null   object
 41  TotRmsAbvGrd   1209 non-null   int64
 42  TotalBsmtSF    1209 non-null   float64
 43  WoodDeckSF     1209 non-null   int64
 44  YearBuilt      1209 non-null   int64
 45  YrSold         1209 non-null   int64
 46  ExterQual      1209 non-null   object
 47  ExterCond      1209 non-null   object
 48  Foundation     1209 non-null   object
 49  BsmtQual       1209 non-null   object
 50  BsmtCond       1209 non-null   object
 51  BsmtExposure   1209 non-null   object
 52  BsmtFinType1   1209 non-null   object
 53  BsmtFinSF1     1209 non-null   int64
 54  BsmtFinType2   1209 non-null   object
 55  BsmtFinSF2     1209 non-null   int64
 56  BsmtUnfSF      1209 non-null   int64
 57  Heating        1209 non-null   object
 58  HeatingQC      1209 non-null   object
 59  CentralAir     1209 non-null   object
 60  Electrical     1209 non-null   object
 61  1stFlrSF       1209 non-null   int64
 62  2ndFlrSF       1209 non-null   int64
 63  LowQualFinSF   1209 non-null   int64
 64  GrLivArea      1209 non-null   int64
 65  BsmtFullBath   1209 non-null   int64
 66  BsmtHalfBath   1209 non-null   int64
 67  FullBath       1209 non-null   int64
 68  HalfBath       1209 non-null   int64
 69  BedroomAbvGr   1209 non-null   int64
 70  KitchenAbvGr   1209 non-null   int64
 71  KitchenQual    1209 non-null   object
dtypes: float64(6), int64(26), object(40)
memory usage: 689.5+ KB

### 1.4 Encoding and normalizing

In [141]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder, TargetEncoder, LabelEncoder

In [195]:
joined_all.isna().sum()[joined_all.isna().sum()>0]

Series([], dtype: int64)

In [196]:
joined_all.dtypes

Unnamed: 0       int64
Fireplaces       int64
Exterior2nd     object
FireplaceQu     object
BldgType        object
                 ...
FullBath         int64
HalfBath         int64
BedroomAbvGr     int64
KitchenAbvGr     int64
KitchenQual     object
Length: 76, dtype: object

In [197]:
cat_mask = (joined_all.nunique() < 10) | (joined_all.dtypes == object)
joined_all.loc[:,cat_mask]

,Fireplaces,Exterior2nd,FireplaceQu,BldgType,GarageQual,GarageFinish,LotShape,Condition1,LandContour,GarageCond,...,HeatingQC,CentralAir,Electrical,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,KitchenQual
0,0,VinylSd,No,1Fam,TA,RFn,Reg,Norm,Lvl,TA,...,Ex,Y,SBrkr,1,0,2,1,3,1,Gd
1,1,MetalSd,TA,1Fam,TA,RFn,Reg,Feedr,Lvl,TA,...,Ex,Y,SBrkr,0,1,2,0,3,1,TA
2,1,VinylSd,TA,1Fam,TA,RFn,IR1,Norm,Lvl,TA,...,Ex,Y,SBrkr,1,0,2,1,3,1,Gd
3,1,Wd Shng,Gd,1Fam,TA,Unf,IR1,Norm,Lvl,TA,...,Gd,Y,SBrkr,1,0,1,0,3,1,Gd
4,1,VinylSd,TA,1Fam,TA,RFn,IR1,Norm,Lvl,TA,...,Ex,Y,SBrkr,1,0,2,1,4,1,Gd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2914,0,CmentBd,No,Twnhs,No,No,Reg,Norm,Lvl,No,...,Gd,Y,SBrkr,0,0,1,1,3,1,TA
2915,0,CmentBd,No,TwnhsE,TA,Unf,Reg,Norm,Lvl,TA,...,TA,Y,SBrkr,0,0,1,1,3,1,TA
2916,1,VinylSd,TA,1Fam,TA,Unf,Reg,Norm,Lvl,TA,...,Ex,Y,SBrkr,1,0,1,0,4,1,TA
2917,0,Wd Shng,No,1Fam,No,No,Reg,Norm,Lvl,No,...,TA,Y,SBrkr,0,1,1,0,3,1,TA
2918,1,HdBoard,TA,1Fam,TA,Fin,Reg,Norm,Lvl,TA,...,Ex,Y,SBrkr,0,0,2,1,3,1,TA

In [198]:
le = LabelEncoder()

for col in joined_all.loc[:,cat_mask].columns:
    joined_all[col] = le.fit_transform(joined_all[col])
joined_all.loc[:,cat_mask]

,Fireplaces,Exterior2nd,FireplaceQu,BldgType,GarageQual,GarageFinish,LotShape,Condition1,LandContour,GarageCond,...,HeatingQC,CentralAir,Electrical,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,KitchenQual
0,0,13,3,0,5,2,3,2,3,5,...,0,1,4,1,0,2,1,3,1,2
1,1,8,5,0,5,2,3,1,3,5,...,0,1,4,0,1,2,0,3,1,3
2,1,13,5,0,5,2,0,2,3,5,...,0,1,4,1,0,2,1,3,1,2
3,1,15,2,0,5,3,0,2,3,5,...,2,1,4,1,0,1,0,3,1,2
4,1,13,5,0,5,2,0,2,3,5,...,0,1,4,1,0,2,1,4,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2914,0,5,3,3,3,1,3,2,3,3,...,2,1,4,0,0,1,1,3,1,3
2915,0,5,3,4,5,3,3,2,3,5,...,4,1,4,0,0,1,1,3,1,3
2916,1,13,5,0,5,3,3,2,3,5,...,0,1,4,1,0,1,0,4,1,3
2917,0,15,3,0,3,1,3,2,3,3,...,4,1,4,0,1,1,0,3,1,3
2918,1,6,5,0,5,0,3,2,3,5,...,0,1,4,0,0,2,1,3,1,3

In [199]:
ss = StandardScaler()

joined_all = ss.fit_transform(joined_all)
pd.DataFrame(joined_all).columns

RangeIndex(start=0, stop=76, step=1)

In [201]:
joined_all = pd.DataFrame(joined_all)
joined_train, joined_test = divide_df(joined_all)
joined_train.to_csv('data/joined_train.csv')
joined_test.to_csv('data/joined_test.csv')

In [206]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import KFold

y_log = np.log(y_train)

lr = LinearRegression()

boost = GradientBoostingRegressor()
params = {
    'learning_rate': [0.01,0.05,0.1,0.2,0.4,0.8,1,2],
    'n_estimators': [5,10,15,20,30,40,50,80,100,200],
    'max_depth': [2,3,4,5,6]
}


cv = GridSearchCV(boost, 
                  param_grid=params, 
                  scoring='r2', 
                  cv=KFold(n_splits=5, random_state=1, shuffle=True), 
                  n_jobs=-1
                 )

cv.fit(joined_train, y_log)
cv.best_score_

0.896444561093347

In [219]:
res_example = pd.read_csv('data/sample_submission.csv')
res_example.index = x_test_raw['Id']
res_example

        Id      SalePrice
Id
1461  1461  169277.052498
1462  1462  187758.393989
1463  1463  183583.683570
1464  1464  179317.477511
1465  1465  150730.079977
...    ...            ...
2915  2915  167081.220949
2916  2916  164788.778231
2917  2917  219222.423400
2918  2918  184924.279659
2919  2919  187741.866657

[1459 rows x 2 columns]

In [213]:
cv.best_estimator_.predict(joined_test)

array([11.72960765, 11.90536892, 12.14266132, ..., 11.84767043,
       11.57555254, 12.34012787])

In [220]:
res_example['SalePrice'] = np.exp(cv.best_estimator_.predict(joined_test))
res_example.drop('Id', inplace=True, axis=1)

In [221]:
res_example

          SalePrice
Id
1461  124194.933517
1462  148059.414728
1463  187711.469265
1464  187111.283549
1465  184610.590521
...             ...
2915   71872.809264
2916   69520.026652
2917  139758.390395
2918  106462.973391
2919  228691.193923

[1459 rows x 1 columns]

In [222]:
res_example.to_csv('data/egor_team_first_try.csv')